/******* RESET ********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GENERAL ********/

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.hide{
    display:none;
}

/******* GRID ********/

#wrapper {
    display: grid;
    grid-template-areas:
        "aside"
        "main"
        "footer";
    grid-template-rows: auto auto auto;
    background-color: white;
}

/******* HEADER ********/

header {
    background-color: rgb(82, 82, 82);
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
}

#contHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkLogo {
    color: white;
    display: inline-block;
    height: 80px;
}

#logo {
    height: 80px;
    width: 80px;
}

h1 {
    font-size: 2.8rem;
    display: inline;
}

header div {
    text-align: right;
}

#imgCarrito {
    width: 35px;
    height: 35px;
}

/******* ASIDE ********/

aside {
    grid-area: aside;
    margin-top: 15px;
}

/******* MAIN ********/

main {
    grid-area: main;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

#img-toTop {
    width: 30px;
    height: 30px;
}

.formBusqueda {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 15px;
    justify-content: center;
    width: 100%;
    height: 30px;
}

#barraBusqueda {
    margin-right: 5px;
    padding-left: 10px;
    width: 300px;
}

.btn-accion {
    width: 50px;
    color: white;
    background-color: rgb(82, 82, 82);
    border-radius: 5px;

}

#contFiltros,
legend {
    font-size: 1.5rem;
}

.filtros {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-filtro {
    width: 40%;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 350px;
}

.contInfoCompra {
    display: flex;
    column-gap: 5px;
}

.cantItem {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 1.3rem;
    border: 2px solid black;
    border-radius: 10%;
    display: block;
}

.subtSeccion {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}

.imgProd {
    width: 15rem;
    height: 15rem;
}

.nombreProd,
.precioProd {
    font-size: 1.5rem;
}

.btn-comprar {
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    width: 70px;
    height: 30px;
}

.btn-comprar:hover,
.btn-accion:hover {
    background-color: black;
}

/******* FOOTER ********/

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(82, 82, 82);
    color: rgb(221, 218, 218);
    line-height: 10px;
}

footer p {
    font-size: 1.2rem;
}

footer h3 {
    margin-bottom: 10px;
}

#Container_Redes a {
    margin: 0 5px;
}

footer a {
    color: rgb(221, 218, 218);
}

footer a:hover {
    color: sandybrown;
}

#footContacto,
#footRedes {
    border-bottom: 1px solid white;
}

footer div {
    padding: 10px 0px;
}

.logosRedes {
    height: 25px;
    width: 25px;
}

/******* MEDIA QUERIES *******/

@media only screen and (min-width: 768px) {

    .SecMain {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
    }

    #barraBusqueda {
        width: 500px;
    }

    .contProducto {
        width: 350px;
    }

    #contFiltros article {
        display: flex;
        flex-direction: row;
        column-gap: 200px;
    }

    .btn-accion {
        width: 70px;
        font-size: 1.3rem;
    }

    #contSocial {
        display: flex;
        justify-content: space-evenly;
    }

    #footContacto,
    #footRedes {
        border-bottom: none;
    }

}

@media only screen and (min-width: 1024px) {

    body {
        background-image: url("../img/bkg.png");
        background-color: white;
    }

    header {
        height: 90px;
        display: flex;
        justify-content: center;
    }

    #contHeader{
        width: 1300px;
        justify-content: space-between;
    }

    #contMarca{
        display: flex;
        align-items: center;
    }

    #contCarrito{
        margin-right: 20px;
    }

    #wrapper {
        max-width: 1300px;
        margin: auto;
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
        grid-template-rows: auto auto auto;
        grid-template-columns: 25% 75%;
    }

    #barraBusqueda {
        width: 60%;
    }

    .SecMain {
        flex-direction: column;
    }

    .contProducto {
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }

    #contFiltros article {
        display: inline-block;
    }

    .contInfoProd {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    aside {
        margin-top: 20px;
    }

}